{% extends 'home/base.html' %}

{% block content %}
<main class="container-fluid">
    <div class="container">
        <section class="categories row">
            <div class="categories-menu col-3">
                <h3 class="d-flex align-items-center">Категории</h3>
                <nav class="menu">
                    <ul>
                        <!--                        <li><a href="">Манга</a></li>-->
                        <li><a href="#">Издательства</a>
                            <ul class="sub-categories">
                                <li><a href="#">DC</a></li>
                                <li><a href="#">Marvel</a></li>
                                <li><a href="#">Bubble</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">По странам</a>
                            <ul class="sub-categories">
                                <li><a href="#">Российские</a></li>
                                <li><a href="#">Европейские</a></li>
                                <li><a href="#">Американские</a></li>
                                <li><a href="#">Азиатские</a></li>
                            </ul>
                        </li>
                        <li><a href="#">По жанрам</a>
                            <ul class="sub-categories">
                                <li><a href="#">Фантастика</a></li>
                                <li><a href="#">Драма</a></li>
                                <li><a href="#">Комедия</a></li>
                                <li><a href="#">Ужасы</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="items col-9">
                <div class="nav d-flex flex-wrap justify-content-between align-items-center">
<!--                    <div class="sort d-flex align-items-center">-->
<!--                        <p>Сортировать по: </p>-->
<!--                            <button type="submit" name="title" style="padding: 0;-->
<!--  border: none;-->
<!--  font: inherit;-->
<!--  color: inherit;-->
<!--  background-color: transparent">-->
<!--                                Название-->
<!--                            </button>-->
<!--                            <button type="submit" name="price" style="padding: 0;-->
<!--  border: none;-->
<!--  font: inherit;-->
<!--  color: inherit;-->
<!--  background-color: transparent">-->
<!--                                Цена-->
<!--                            </button>-->
<!--                            <button type="submit" name="title" style="padding: 0;-->
<!--  border: none;-->
<!--  font: inherit;-->
<!--  color: inherit;-->
<!--  background-color: transparent">-->
<!--                                Популярность-->
<!--                            </button>-->
<!--                    </div>-->

                </div>

                <div class="boxes d-flex flex-wrap justify-content-between align-items-center">
                    {% for m in model %}
                    <a class="u-link-v5 d-block text-center" href="{% url 'readmore' m.pk %}">-->

                        <div class="box">
                            <figure class="justify-content-between align-items-center">
                                <div class="figure">
                                    <img src="{{ m.picture }}" alt="">
                                </div>
                                <figcaption>
                                    <p><span>{{ m.title }}</span></p>
                                    <p><span>{{ m.price }}</span></p>
                                </figcaption>
                                <form action="{% url 'view_comics' m.pk %}" method="post">
                                    {% csrf_token %}
                                    {% if m.buy_status %}
                                    <button class="buy_button d-flex justify-content-center align-items-center "
                                            name="purchased" type="submit">В корзине
                                    </button>
                                    {% else %}
                                    <button class="d-flex justify-content-center align-items-center" name="add"
                                            type="submit">Купить
                                    </button>
                                    {% endif %}
                                </form>
                            </figure>
                        </div>
                        {% endfor %}
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock content %}